body {
    font-family: 'TimesNewRoman', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2E7D32, #2E7D32);
    color: #FFFFFF;
}

header {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.514);
}

h1 {
    font-size: 4.5em;
}


h2 {
    font-size: 4.5em;
    font-weight: normal;
}

main {
    padding: 10px;
    max-width: 800px;
    margin: auto;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

label {
    font-weight: bold;
}

select, button {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
}

button {
    cursor: pointer;
    background-color: #81C784;
    color: black;
    transition: background 0.5s;
}

button:hover {
    background-color: #FFFFFF;
}

#alertDisplay {
    background-color: rgba(16, 16, 16, 0.519);
    padding: 40px;
    border-radius: 20px;
}

#alertContent {
    font-size: 4.5em;
}

/* Larger buttons for Flood and Air Quality */
button.flood-btn,
button.air-btn {
    padding: 30px 60px;
    font-size: 4em;
    border-radius: 15px;
    font-weight: bold;
    background-color: #81C784;
    color: white;
    cursor: pointer;
}

button.flood-btn:hover,
button.air-btn:hover {
    background-color: #81C784;
}
